

.intro
{
	/* Do ../ to go back out the folder */
	background-image: url("../img/milkbg.jpg") ;
/*	background-color: black; */
	padding-bottom: 400px;
	background-size: 100% 100%
}

.intro-inside
{
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
}

body
{
/*	background-color: black; */
}10